<nav class="text-manipulation-toolbar">
  <ul class="toolbar">
    <li>
      <a href=""  data-controller="editable" 
                  data-action="click->editable#convertTo mousedown->editable#mouseDown" 
                  data-editable-convert-type-value="p" 
                  data-editable-header1-class="not-selected">
        <span class="material-symbols-outlined">
          reorder
        </span>
        <span>Normal</span>
      </a>
    </li>
    <li>
      <a href=""  data-controller="editable" 
                  data-action="click->editable#convertTo mousedown->editable#mouseDown" 
                  data-editable-convert-type-value="h1" 
                  data-editable-header1-class="not-selected">
        <span class="material-symbols-outlined">
          format_h1
        </span>
        <span>Header 1</span>
      </a>
    </li>
    <li>

    </li>
  </ul>

  <ul class="horizontal-toolbar">
    <li>
      <a href=""  data-controller="markdown" 
                  data-action="click->markdown#formatSelectionLocal mousedown->markdown#mouseDown" 
                  data-markdown-format-type-value="strong" >
        <span class="material-symbols-outlined">
          format_bold
        </span>
      </a>      
    </li>
    <li>
      <a href=""  data-controller="markdown" 
                  data-action="click->markdown#formatSelection mousedown->markdown#mouseDown" 
                  data-markdown-format-type-value="em" >
        <span class="material-symbols-outlined">
          format_italic
        </span>
      </a>      
    </li>
    <li>
      <a href=""  data-controller="markdown" 
                  data-action="click->markdown#formatSelection mousedown->markdown#mouseDown" 
                  data-markdown-format-type-value="del" >
        <span class="material-symbols-outlined">
          strikethrough_s
        </span>
      </a>      
    </li>
    <li>
      <a href=""  data-controller="markdown" 
                  data-action="mousedown->markdown#formatSelection" 
                  data-markdown-format-type-value="code" >
        <span class="material-symbols-outlined">
          code
        </span>
      </a>      
    </li>
  </ul>
</nav>

<turbo-frame id="document">
  <div>
    <% document.fragments.by_position.each do |fragment| %>
      <%= render partial: "active_markdown/fragments/form", locals: {fragment: fragment} %>
    <% end %>
  </div>
  
  <%= turbo_frame_tag "new_fragment" do %>
    <%= form_with(model: [document, ActiveMarkdown::Fragment.new], url: active_markdown.document_fragments_path(document), method: "post", id: "new-fragment-form") do |form| %>
      <%= form.text_area :content, hidden: true, class: "new-fragment-content" %>
      <%= form.text_field :proceeding_fragment_id, hidden: true, class: "proceeding-fragment-id" %>

      <%= form.submit "enter-key", hidden: true, class: "enter-key-button" %>
    <% end %>
  <% end %>

</turbo-frame>
