<%= turbo_frame_tag dom_id(fragment)  do %> 

  <div  data-controller="editable" 
        data-action="click->editable#click 
                    keydown.enter->editable#saveAndAddFragment"
        data-editable-element="<%= fragment.element %>">
    
    <%= form_with(model: fragment, url: active_markdown.fragment_path(fragment), method: "patch") do |form| %>
      <%= form.text_field :id, hidden: true, class: "fragment-id" %>
      <%= form.text_field :position, hidden: true, class: "fragment-position" %>
      <%= form.text_field :element, hidden: true, class: "fragment-element" %>
      <%= form.text_field :format, hidden: true, class: "fragment-inline-format" %>
      <%= form.text_field :caret_start, hidden: true, class: "caret-start" %>
      <%= form.text_field :caret_end, hidden: true, class: "caret-end" %>
      <%= form.text_area :content, class: "fragment-content" %>
      <%= form.check_box :is_new, checked: fragment.is_new?, hidden: true, class: "new-fragment-flag" %>
      <%= form.check_box :editing, checked: fragment.editing?, hidden: true, class: "editing-fragment-flag" %>
      <%= form.check_box :editing_override, checked: fragment.editing_override, hidden: true, class: "editing-override-fragment-flag" %>
      <%= form.submit "enter-key", hidden: true, class: "enter-key-button" %>
      <%= form.submit "blurred", hidden: true, class: "blurred-button" %>

      <%= form.submit "bold", hidden: true, class: "bold-button" %>

    <% end %>   

    <!-- <a href="" data-controller="fragment" data-action="fragment#toggleChangeMenu" class="fragment-menu-button">
      <span class="material-symbols-outlined">
        drag_indicator
      </span>
    </a> -->


    <%= raw fragment.render %>  

    
  </div>
<% end %>
